form .martor-preview {
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
}

form .martor-preview p {
  margin: 1em 0 !important;
  padding: 0 !important;
}

form .martor-preview img {
  max-width: 100%;
  height: auto;
}

form .martor-preview h1, form .martor-preview h2, form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: normal;
  color: #111;
  margin-bottom: 0.75em;
  padding: 0;
  background: 0;
}

form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: bold;
}

form .martor-preview h1 {
  font-size: 2.5em;
}

form .martor-preview h2 {
  font-size: 2em;
}

form .martor-preview h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}

form .martor-preview h4 {
  font-size: 1.4em;
  border-bottom: 1px solid #EEE;
  line-height: 1.225;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

form .martor-preview h5 {
  font-size: 1.15em;
  margin-top: 0;
}

form .martor-preview h6 {
  font-size: 0.9em;
}

form .martor-preview blockquote {
  color: #666;
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.5em #EEE solid;
}

form .martor-preview hr {
  display: block;
  height: 0;
  border: 0;
  font-style: italic;
  border-bottom: 1px solid #ccc;
  margin: 25px 0 20px 0;
  padding: 0;
}

form .martor-preview pre, form .martor-preview code, form .martor-preview kbd, form .martor-preview samp, form .martor-preview span.code {
  color: #000;
  page-break-inside: avoid;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.98em;
}

form .martor-preview code, form .martor-preview span.code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 4px;
  font-size: 0.95em;
  color: #444;
}

form .martor-preview pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1.5em 0 1.5em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: black;
  border-radius: 4px;
}

form .martor-preview pre code, form .martor-preview pre div.code {
  border: 0;
  line-height: 1em;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 1em;
  color: black;
}

form .martor-preview b, form .martor-preview strong {
  font-weight: bold;
}

form .martor-preview dfn {
  font-style: italic;
}

form .martor-preview ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

form .martor-preview mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

form .martor-preview sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

form .martor-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

form .martor-preview sub {
  bottom: -0.25em;
}

form .martor-preview ul, form .martor-preview ol {
  padding: 0 0 0 2em !important;
}

form .martor-preview li p:last-child {
  margin: 0;
}

form .martor-preview dd {
  margin: 0 0 0 2em;
}

form .martor-preview img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

form .martor-preview td {
  vertical-align: top;
}

form .martor-preview ul li {
  list-style: unset !important;
}

form .martor-preview ul, form .martor-preview ol {
  margin-left: 0 !important;
}

form .martor-preview h5 {
  text-transform: none !important;
}

.main-martor-fullscreen {
  z-index: 99999 !important;
}

.section-martor div[data-tab=editor-tab-description] {
  padding: 0;
}

.section-martor .markdown-selector.markdown-emoji {
  display: none !important;
}

.section-martor .tab-martor-menu a.item {
  font-size: 0.8rem;
}

.section-martor .martor-field {
  height: 400px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Jlc291cmNlcy9tYXJ0b3ItZGVzY3JpcHRpb24uY3NzIiwiLi4vc2Fzc19wcm9jZXNzZWQvbWFydG9yLWRlc2NyaXB0aW9uLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLDJEQUFBO0FDQ0Y7O0FERUE7RUFDRSx3QkFBQTtFQUNBLHFCQUFBO0FDQ0Y7O0FERUE7RUFDRSxlQUFBO0VBQ0EsWUFBQTtBQ0NGOztBREVBO0VBQ0UsbUJBQUE7RUFDQSxXQUFBO0VBQ0EscUJBQUE7RUFDQSxVQUFBO0VBQ0EsYUFBQTtBQ0NGOztBREVBO0VBQ0UsaUJBQUE7QUNDRjs7QURFQTtFQUNFLGdCQUFBO0FDQ0Y7O0FERUE7RUFDRSxjQUFBO0FDQ0Y7O0FERUE7RUFDRSxnQkFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FDQ0Y7O0FERUE7RUFDRSxnQkFBQTtFQUNBLDZCQUFBO0VBQ0Esa0JBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0FDQ0Y7O0FERUE7RUFDRSxpQkFBQTtFQUNBLGFBQUE7QUNDRjs7QURFQTtFQUNFLGdCQUFBO0FDQ0Y7O0FERUE7RUFDRSxXQUFBO0VBQ0EsU0FBQTtFQUNBLG1CQUFBO0VBQ0EsNkJBQUE7QUNDRjs7QURFQTtFQUNFLGNBQUE7RUFDQSxTQUFBO0VBQ0EsU0FBQTtFQUNBLGtCQUFBO0VBQ0EsNkJBQUE7RUFDQSxxQkFBQTtFQUNBLFVBQUE7QUNDRjs7QURFQTtFQUNFLFdBQUE7RUFDQSx3QkFBQTtFQUNBLGlPQUFBO0VBQ0EsaUJBQUE7QUNDRjs7QURFQTtFQUNFLDRPQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7RUFDQSxzQkFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtFQUNBLFdBQUE7QUNDRjs7QURFQTtFQUNFLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkFBQTtFQUNBLFlBQUE7RUFDQSxzQkFBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0FDQ0Y7O0FERUE7RUFDRSxTQUFBO0VBQ0EsZ0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtFQUNBLHVCQUFBO0VBQ0EsY0FBQTtFQUNBLFlBQUE7QUNDRjs7QURFQTtFQUNFLGlCQUFBO0FDQ0Y7O0FERUE7RUFDRSxrQkFBQTtBQ0NGOztBREVBO0VBQ0UsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EscUJBQUE7QUNDRjs7QURFQTtFQUNFLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7QUNDRjs7QURFQTtFQUNFLGNBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSx3QkFBQTtBQ0NGOztBREVBO0VBQ0UsY0FBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLHdCQUFBO0VBQ0EsV0FBQTtBQ0NGOztBREVBO0VBQ0UsZUFBQTtBQ0NGOztBREVBO0VBQ0UsNkJBQUE7QUNDRjs7QURFQTtFQUNFLFNBQUE7QUNDRjs7QURFQTtFQUNFLGlCQUFBO0FDQ0Y7O0FERUE7RUFDRSxTQUFBO0VBQ0EsK0JBQUE7RUFDQSxzQkFBQTtBQ0NGOztBREVBO0VBQ0UsbUJBQUE7QUNDRjs7QURFQTtFQUNFLDRCQUFBO0FDQ0Y7O0FERUE7RUFDRSx5QkFBQTtBQ0NGOztBREVBO0VBQ0UsK0JBQUE7QUNDRjs7QURFQTtFQUNFLHlCQUFBO0FDQ0Y7O0FERUE7RUFDRSxVQUFBO0FDQ0Y7O0FERUE7RUFDRSx3QkFBQTtBQ0NGOztBREVBO0VBQ0UsaUJBQUE7QUNDRjs7QURFQTtFQUNFLGFBQUE7QUNDRiIsImZpbGUiOiJtYXJ0b3ItZGVzY3JpcHRpb24uY3NzIn0= */